{% extends "mail/ufmessage.html.twig" %}
{% block ufmessage_body %}
    {% set mesgdata = params.ufmessage %}
    <p><strong>System Alert Message</strong></p>
    <p>Message Text<br>
        {{mesgdata.message_text}}
    </p>
    <p>User Details</p>
    <ul>
        {% for field, value in user %}
            <li>{{field}}: {{value}} </li>
        {% endfor %}
    </ul>
    <p>Reference Data</p>
    <ul>
        {% if mesgdata.data is iterable %}
            {% for field, value in mesgdata.data %}
                <li>{{field}}: {{ value is iterable ? (value | json_encode(constant('JSON_PRETTY_PRINT')) | raw) : value }} </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
{% block ufmessage_signature %}
    The {{site.title}} Admin Team
{% endblock %}
