{% block subject %}
    {{site.title}} - {{ufmessage.subject}}
{% endblock %}
{% block body %}
<div class='uf_message'>
    <div class='uf_message_head'>
    {% block ufmessage_head %}
        <p>Dear {{user.first_name}},
        <br>
        हरि: ॐ</p>
    {% endblock %}
    </div>
    <div class='uf_message_body'>
    {% block ufmessage_body %}
        <p>
        You are receiving this email because you registered with {{site.title}} ({{site.uri.public}}).
        </p>
        <p>Enter Mail Text here</p>
    {% endblock %}
    </div>
    <div class='uf_message_footer'>
    {% block ufmessage_footer %}
    <p>
    हरि: ॐ तत्सत्
    </p>
        {% block ufmessage_signature %}
        <p>
        The {{site.title}} Team
        </p>
        {% endblock %}
    {% endblock %}
    </div>
</div>
{% endblock %}
